body {
  min-width:357px;
  overflow-x:hidden;
}

img {
  margin:5px;
  border:2px solid black;
  vertical-align:middle;
  width:75px;
  height:75px;
}

.hidden {
    display: none;
}

.domainName span{
    cursor: pointer;
}
.domainName * {
    cursor: auto;
}

.entry {
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.entry * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.entry .time {
  color: rgb(151, 156, 160);
  width: 80px;
  display: inline-block;
}

.entry .title {
  display: inline-block;
  -webkit-padding-start: 20px;
  background-position-y: 1px;
  background-repeat: no-repeat;
}