body {
  min-width:357px;
  overflow-x:hidden;
}

img {
  margin:5px;
  border:2px solid black;
  vertical-align:middle;
  width:75px;
  height:75px;
}

.hidden {
    display: none;
}

.domainName {
    cursor: pointer;
}
.domainName * {
    cursor: default;
}

.entry {
    list-style: none;
}

.entry .time {
  color: rgb(151, 156, 160);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80px;
  display: inline-block;
}